.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 2) ($base-size * 4) ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.home-widget{
  margin: 50px 0;
}

.page-options {
  text-align: center;
  display: flex;
  justify-content: center;

  h1 {
    font-size: x-large;
    padding: 30px;
  }

  p {
    display: none;
    //margin-top: -10px;
  }

  .order {
    background-image: url(../../images/pizza-home/pizza-1.jpg);
    background-size: cover;
    color: white;
    margin: 5px;
    height: 140px;
    width: 300px;
    border-radius: $radius;
    cursor: pointer;
    text-decoration: none;

    &:hover > h1 {
      transition-property: margin-top;
      transition-timing-function: ease-in;
      transition-duration: 0.3s;
      margin-top: -10px;
    }

    &:hover > p {
      display: block;
      margin-top: -15px;
    }

  }

  .book-table{
    background-image: url(../../images/pizza-home/pizza-2.jpg);
    background-size: cover;
    color: white;
    margin: 5px;
    height: 140px;
    width: 300px;
    border-radius: $radius;
    cursor: pointer;
    text-decoration: none;

    &:hover > h1 {
      transition-property: margin-top;
      transition-timing-function: ease-in;
      transition-duration: 0.3s;
      margin-top: -10px;
    }

    &:hover > p {
      display: block;
      margin-top: -15px;
    }

  }

}

.page-info {
  background-color: $color-main;
  height: 140px;
  width: 595px;
  border-radius: $radius;
  text-align: center;
  padding: 15px;
  margin: 3px 0 0 5px;

  h1 {
    color: white;
    font-size: x-large;
    margin-bottom: -20px;
  }

  p {
    color: white;
    font-size: medium;
  }

}

.order:hover > h1 {
  transition-property: margin-top;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  margin-top: -10px;
}

.order:hover > p {
  display: block;
  margin-top: -15px;
}

.main-carousel {
  margin: 20px 0;
  padding: 5px;

  .carousel-cell {
    display: flex;
    width: 600px;
    margin-right: 20px;

    .carousel-img {
      //stylelint
      img {
        width: 200px;
        height: 175px;
        margin-right: 30px;
        object-fit: cover;
        border-radius: $radius;
      }

    }

    .carousel-description .author {
      font-style: italic;
    }

  }

}

.gallery {
  margin-top: 90px;
  margin-bottom: 20px;
  width: 700px;

  .gallery-section {
    display: flex;

    .image {
      position: relative;

      &:hover {
        opacity: 0.7;

        .icons {
          opacity: 1;
        }

      }

      img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        padding: 5px;
        object-fit: cover;
      }

    }

    .icons {
      position: absolute;
      transform: translate(5px, -120px);
      text-align: center;
      width: 100%;
      height: 50%;
    }

    i {
      color: $color-main;
      font-size: 25px;
      padding: 2px;

      &:hover {
        color: #ff3838;
        opacity: 1;
      }

    }

  }

}

.footer {
  padding-left: 5px;
  color: $color-main;
}

.image .icons {
  opacity: 0;
  transition: opacity 1s;
}

